@import '../../../styles/variables.scss';

.profile__indicators {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-table {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 40px;
        margin-top: 40px;
        border: 1px solid $dark;

        span {
            border: 1px solid $dark;
            padding: 5px;
            text-align: center;
        }
    }
}